.button {
  position: relative;
  transition: background-color 150ms ease;
  padding: 5px 5px 5px 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 16px;
}

.label {
  position: relative;
  z-index: 1;
  display: block;
  padding: 10px;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: transparent;
  z-index: 0;
}

.progressLabel {
  position: relative;
  z-index: 1;
  display: block; /* Ensure the label takes full width */
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: -0.25px;
  text-transform: uppercase;
}