:root{
    --background-color: #333;
    --font-color: #eee;
    --link-color: cornflowerblue;
}

[data-theme="light"]{
    --font-color: #333;
    --background-color: #ffffff;
    --link-color: lightblue;
}

body{
    background-color: var(--background-color);
    color: var(--font-color);
}

a {
    color: var(--link-color);
}

/* Dark Mode Toggle Elements */

.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.toggle-theme-wrapper span {
    font-size: 15px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 50px;
}

.toggle-theme input {
    display: none;
}

.slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
    border-radius: 34px;
  }
  
  .slider.round:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }